.header{
    width: 100%;
    font-size: 28px;
    height: 51px;
    background-color: #171778;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.search-input {
    width: 271px;
}